/*colors*/
/*
grey: #d9d9da;
blue grey: #afcdd4;
yellow: #ff9a33;
orange: #fb500b;
*/

html, body {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 60%;
}

p {
  width: 70%;
  font-size: 1.4em;
}

span {
  background-color: #ff9a33;
  padding: 2px 4px;
}

#is-not-heat-season {
  display: none;
}

#too-hot-outside {
  display: none;
}

#temperature-info {
  display: none;
}

.strong, strong {
  color: #3e5ba9;
}

.logo-sub {
  font-size: 3em;
} 

.container-fluid {
  position: relative;
  top: 60px;
  height: 100%;
  width: 100%;
}

.slides-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10;
}

.slide {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.slide:not(:first-child) .centered {
  width: 60%;
  margin: 50px auto 0;
}

.go-next, .go-prev, .start, .go-first {
  min-width: 150px;
  color: #fff;
  text-shadow: none;
  background: #fb500b;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.go-next:hover,
.go-prev:hover, 
.go-first:hover {
  color: #fff;
  background: #ff9a33;
}

.start, .go-first {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
}

.go-first {
  /*bottom: 15vh;*/
}

.btn-grp {
  width: 310px;
  margin: 0 auto;
}

.steps {
  width: 250px;
  margin: 0 auto;
  margin: 50px auto 50px;
}

.steps li {
  font-size: 20px;
}

#logo {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.heat-map {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}