/*colors*/
/*
grey: #d9d9da;
blue grey: #afcdd4;
yellow: #ff9a33;
orange: #fb500b;
*/

html {
  font-size: 16px;
}

body {
  font-size: 1em;
}

.container-fluid {
  margin-top: 60px;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
  margin: 20px auto;
  width: 60%;
}


span {
  background-color: #fb500b;
  padding: 2px 4px;
}

.strong {
  color: #3e5ba9;
}


button.next {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  bottom: 20vh;
  font-weight: bold;
}

button.final {
  bottom: 5vh;
}

.steps {
  width: 250px;
  margin: 0 auto;
  margin-top: 50px;
}

.steps li {
  font-size: 20px;
}

#logo {
    width: 500px;
    height: 100px;
    margin: 0 auto;
    display: block;
}

.heat-map {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}